.body_suits_show
  .col-xs-1.col-md-1

  .col-xs-10.col-md-10
    - @wishes.each do |wi|
      .user_plate
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                  %h2= link_to wi.title, soul_wish_path(@soul, wi)
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3


  .col-xs-1.col-md-1
