.body_suits_show
  .col-xs-1.col-md-1
    %br
    = link_to "new", new_soul_purpose_path, class: "btn btn-default btn_bottom_back"
  .col-xs-10.col-md-10
    - @purposes.each do |purp|
      .user_plate
        .col-xs-3.col-md-3
          .suit
            .suits_fotos
              %h2= link_to purp.purport, soul_purpose_path(@soul, purp)#(@purposes, @soul)
              %h4
                = purp.purpcomments.count
                Comments
        .col-xs-3.col-md-3
        .col-xs-3.col-md-3
        .col-xs-3.col-md-3


  .col-xs-1.col-md-1