.suit_text
  %h1 Cabinet PAGE 
  = link_to "Information of my Soul", souls_path(current_user), class: "btn btn-default btn_bottom_back"
  %br
  = link_to "My Suits", user_suits_path, class: "btn btn-default btn_bottom_back"