.body_suits_show
  .col-xs-1.col-md-1
    %br
    = link_to "new", new_soul_article_path, class: "btn btn-default btn_bottom_back"
  .col-xs-10.col-md-10
    - @articles.each do |art|
      .user_plate
        .col-xs-3.col-md-3
          .suit
            .suits_fotos
              %h2= link_to art.title, soul_article_path(@soul, art)
              %h4
                = art.artcomments.count
                Comments
        .col-xs-3.col-md-3
        .col-xs-3.col-md-3
        .col-xs-3.col-md-3


  .col-xs-1.col-md-1