%h1 See what people are wearing

- @suit.each_slice(3) do |suits|
  .row
    - suits.each do |suit|
      .col-md-4
        .suit
          .image_wrapper
            = link_to suit do
              = image_tag suit.image.url(:medium)
          %h2= link_to suit.title, suit
