.body_suits_show
  .col-xs-1.col-md-1
    %br
    = link_to "new", new_soul_quotation_path, class: "btn btn-default btn_bottom_back"
  .col-xs-10.col-md-10
    - @quotations.each do |quot|
      .user_plate
        .col-xs-3.col-md-3
          .suit
            .suits_fotos
              %h2= link_to quot.author, soul_quotation_path(@soul, quot)
              %h2= link_to quot.proverb, soul_quotation_path(@soul, quot)#(@projects, @soul)
        .col-xs-3.col-md-3
        .col-xs-3.col-md-3
        .col-xs-3.col-md-3


  .col-xs-1.col-md-1