.body_suits_show
  .col-xs-1.col-md-1

  .col-xs-10.col-md-10
    - @hobbies.each do |hob|
      .user_plate
          .col-xs-3.col-md-3
            .suit
              .suits_fotos
                  %h2= link_to hob.title, soul_hobby_path(@soul, @hob)
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3
          .col-xs-3.col-md-3


  .col-xs-1.col-md-1
