/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

/*
.body{
	background-image: url('points.png');
	font-family: 'Ubuntu'
}
*/

.body {
	width: 1400px;
	margin: auto;
	height: auto;
	align-content: center;
	background-image: url('points.png');
}

.mainnavigation {
	background: #69F0AE;
	position: fixed; 
	width: 1400px;
	height: 70px;
	bottom: 0px;
	border: 3px solid;
	border-color: red;
	font-weight: 800;
}

.navbar-brand {
	position: relative;
	left: 60px;
}

.suit_header {
	position: relative;
	background-image: url('congruent_pentagon.png');
	height: 150px;
	width: 1600px;
	right: 170px;
    margin-top: 10px;
    margin-bottom: 100px; 
}


.suit_body {
	border: 4px double black;
	border-color: red;
	margin-bottom: 150px;
	min-width: 1250px;
	width: 90%;
    margin-top: 0px;
    margin-right: 5%;
    margin-bottom: 150px;
    margin-left: 5%; 
    height: 1000px;	
}

.suit_text {
	background-image: url('geometry2.png');
	margin-top: 20px;
	margin-bottom: 20px;
	height: 500px;
	overflow: auto;
}

.suit_navigation{
	text-align: center;
}

#Technologies_I_work_with {
	
}