/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

/*
.body{
	background-image: url('points.png');
	font-family: 'Ubuntu'
}
*/

.body {
	width: 1400px;
	margin: auto;
	height: auto;
	align-content: center;
	background-image: url('points.png');
	font-family: Ubuntu;
}

.mainbody {
    margin: auto; 
    height: auto;
    padding-bottom: 70px;	
}

.mainnavigation {
	position: absolute;
	bottom: 0;
	margin: 0px 300px;
	background-image: url('congruent_pentagon.png');
	/*background-image: url('hex3.png');*/ 
	width: 800px;
	height: 70px;
	
	border: 3px solid;
	border-color: gold;
	font-weight: 800;
	border-radius: 40px 40px 5px 5px;
}
		.homebut {
   			border-bottom: 2px solid #ff0800;
    		color: white;
    		padding: 1px 50px 1px 50px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 20px;
		}
		.navbar-brand{
			position: relative;
			text-align: center;
			left: 40px;
			margin: auto;
			padding-top: 20px;
		}
		.suitsbut {
			text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 25px;
		    padding: 14px 50px 1px 50px;
		}
		.newsuitbut{
			border-bottom: 2px solid #ff0800;
    		color: white;
    		padding: 1px 40px 1px 40px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 20px;
		}
		.namebut {
		}

/* all resumes */
.headsuitsshow {

}
	.searchsuitsshow {
		background-image: url('congruent_pentagon.png');
		height: 75px;
		margin-bottom: 10px;
		border-radius: 0px 0px 4px 4px; 
	}

.bodysuitsshow{
	height: 83vh;
	overflow: auto;
	/*background-image: url('congruent_pentagon.png');*/
	background-image: url('hex2.png');
	border-radius: 4px 4px 30px 30px; 
}
	.user_plate {
		height: 300px;
		background-image: url('geometry2.png');
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 10px;
		border-radius: 5px; 
	}
			.suits_fotos{
				height: 280px;
			    width: 200px;
			    border-radius: 10px;
			}
			.skill_show{
				height: 250px;
				overflow: auto;
			}
			.allresumesplateprojectplate {
				padding: 5px;
				margin: auto;
				height: 250px;
				overflow: auto;
			}
				.projectplate {
					background: orange;
					margin: auto;
					margin-top: 3px;
					margin-bottom: 3px;
					height: 140px;
				    width: 200px;
				    overflow: auto;
				    border-radius: 10px;
				    padding: 5px 1px 5px 5px;
				}


/* current resume*/

.suit_header {
	position: relative;
	/*background-image: url('congruent_pentagon.png');*/
	background-image: url('hex2.png');
	height: 150px;
	width: 1600px;
	right: 170px;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 4px 4px 35px 35px; 
}
		.suit_foto {
			margin-left: 40px;
			height: 230px;
			width: 190px;
			border-radius: 4px 4px 20px 20px;
		}


.suit_navigation {
	text-align: center;
}

#user_mobile_number {
	text-align: right;
	margin-top: 28px;
}

#user_sosial_networks {
	display: inline-block;

}

.sosial_logo_suit_show_page {
	width: 80px;
	height: 80px;
	margin: -5px;
}
	/*
	.sosial_logo_suit_show_page_transform:focus {

		background-color: transparent;
	}
	*/

.sosial_logo_suit_show_page_transform {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 35px;
	height: 70px;
	width: 70px
}
.sosial_logo_suit_show_page_transform:hover {
	background-color: #ff0800;
	border-radius: 25px;
}
/* Body resume show page*/
.body_resume_show{
	display: inline-block;
	background-image: url('geometry2.png')
}
.res_proj_1{
	height: 160px;
	background-image: url('geometry2.png');
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	border: 2px solid;
    border-color: #b7071b; /*#ff0800 #7100A3 */ 
	border-radius: 5px;

	}
		.project_fotos{
			height: 140px;
		    width: 100px;
		    border-radius: 10px;
		}
		.skill_show{
			height: 250px;
			overflow: auto;	
		}
		.scroll{
			height: 150px;
			overflow: auto;
		}

/* Show all suits page*/








/* Form page, edit and page*/
.caption {
	text-align: center;
	color: red;
	font-weight: bolder;
	background-image: url('geometry2.png');
	width: 400px;
	border-radius: 15px;
	margin: auto;
}

.suit_text {
	/*background-image: url('congruent_pentagon.png');*/
	background-image: url('hex2.png');
	margin-top: 20px;
	margin-bottom: 20px;
	height: 700px;
	overflow: auto;
	border-radius: 5px;
}
		.suit_text ::-webkit-scrollbar-thumb {
			display: none;
		}
.tit_desc_img_block {
}
	    .btn_back {
		margin-top: 50%;
		}
		.add_form{
			margin: 10px;
		}
		.sub_button{
			width: 100%;
			height: 50px;
		}
		.btn_bottom_back{
			width: 120px;
			height: 35px;
			margin: 10px;
		}
		.add-button{
			display: inline-block;
		}
		#my_skills {
			background-image: url('geometry2.png');
			border-radius: 15px;
		}
		#interested_ins {
			background-image: url('geometry2.png');
			border-radius: 15px;
		}
		#educations {
			background-image: url('geometry2.png');
			border-radius: 15px;
		}
		#additional_educations {
			background-image: url('geometry2.png');
			border-radius: 15px;
		}