/* BEGIN HEADER RESUME SHOW */

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lobster');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.resumeshowhead {
	position: fixed;
	top: 0px;
	width: calc(100% - 70px);
	height: 150px;

	z-index: 1000;
/*	background-image: url('hex2.png');
	background-repeat: no-repeat;
	background-size: 90% 80px;
	background-position: 0% 0%;
	background-origin: */
}


.resumeshowhead a {
    color: #b7071b;

}

.resumeshowheader {
	position: relative;
	    width: 98%;
	background-image: url('congruent_pentagon.png');
	/*background-image: url('hex2.png');*/
	height: 80px;
	min-width: 800px;
	max-width: 1600px;
	margin-left: 10px;
	margin-right: calc(1% - 10px);
    margin-top: 0px;
    margin-bottom: 100px;
    border-radius: 4px 4px 35px 4px; 
}

	.resumeshowheaderFOTO{
		width: 160px;
		display: inline-block;
		float: left;
		padding-left: 10px;
		padding-right: 5px;
		padding-top: 3px;
	}
 		.resumeshowfoto {
 			position: relative;
 			float: right;
			
			height: 185px;
			width: 145px;
			border-radius: 4px 4px 20px 20px;
		}


    .resumeshowheaderAGE{
    	width: calc(100% - 180px);
    	display: inline-block;
		float: left;
		min-width: 280px;
		margin-left: 10px;
    }
   

    .resumeshowheaderCONTACT{
    	width: calc(100% - 180px);
    	display: inline-block;
		float: right;
		min-width: 170px;
		    margin-right: 20px;
		    margin-top: 5px;

    }
			#resumeshowusermobilenumber {
				display: inline-block;
				text-align: left;

			}

			#resumeshowusermobilenumber > h4{
				margin: 0px 5px;
				font-size: 15px;
			}
 
    .resumeshowheaderSOSIAL{
    	width: calc(100% - 190px);
    	    	display: inline-block;
		float: left;
		min-width: 250px;
			margin-left: 10px;
		    margin-right: 10px;
    }

			#resumeshowusersosialnetworks {
				display: inline-block;
				float: left;

			}

			.sosiallogoresumeshowtransform {
				display: inline-block;

				height: 33px;
				width: 33px;
				    margin: 0px 4px;
			}
					.sosiallogoresumeshow {
						width: 36px;
						height: 36px;
						margin: -2px -2px;
					}
						/*
						.sosial_logo_suit_show_page_transform:focus {

							background-color: transparent;
						}
						*/

					.sosiallogoresumeshowtransform:hover {
						background-color: #b7071b;

						border-radius: 25px;

					}
@media screen and (max-width: 1260px) {
/* 	body {
		width: 400px;
		min-width: 400px;
	} */
			#resumeshowusermobilenumber > h2{
				margin-top: -7%;
			}
			#resumeshowusermobilenumber > p{
				margin-top: -5%;
			}
			.resumeshowheaderCONTACT {
				min-width: 250px;
				margin-top: 1%;
				margin-right: 4%;
			}
}
/* END HEADER RESUME SHOW */


.fixbod {
	position: fixed;
	top: 193px;
	width: calc(100% - 70px);
	height: 100%;
}



.resumeshowfixedbody {
			position: absolute;
		    left:0;
		    right:0;
		    margin-left:10px;
		    
		width: 99%;
		min-width: 800px;
    	max-width: 1600px;	
			height: calc(100% - 80px);


		
}

		.resumeshowbody {
			height: 100%;
			position: relative;
			  width: 100%;
		  	min-width: 800px;
			max-width: 1600px;
				margin-left: 10px


		}

/*
		@media screen and (max-width: 1333px) {
				.tabetblock {
					width: 84%;
				}
		}

*/

.emptyblock {
	
	width: calc(15% - 145px);
	height: 600px;
	background-color: grey;
}

.tabbed {
display: inline-block;

  position: relative;

  color: #EBCB79;
  background-color: none;
  width: 100%;
	float: left;
  min-width: 550px;
  max-width: 1600px;
  height: calc(100% - 50px);

  	
  margin: 0px auto;
	/*padding-left: calc(15% - 150px);*/
  
}




.tabbed > input {
  display: none;
}

.tabbed > label {
  	display: block;
/*  	background-image: url('congruent_pentagon.png');*/
 background-color: white;
  width: 145px;
    height: 31px;
    text-align: center;
    vertical-align: middle;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  color: #b7071b;
  line-height: 0.9;

	  padding: 8px 10px;


  	border: 2px solid #00CC00;
  	border-radius: 2px;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
   /* #5b0d91 */
  /*background-image: url('plate.png');*/
  background:  #00CC00;


}

					   		.commandblock {
							position: relative;
							width: 145px;
							height: 50px;
							display: inline-block;	
						}

							.commandbuttons{
								display: inline-block;			
								float: right;
							}

							.commandbuttons > a {

							 	display: block;
							 	float: right;
							 	height: 22px;
							 	width: 46px;
							 	margin: 1px;
							 	margin-top: 2px;
								 	border: 2px solid rgb(16, 207, 16);
   									 border-radius: 2px;;
							 	color: black;
							 	text-align: center;
					   			font-size: 10px;
					   			vertical-align: middle;
							 	background-color: #b1f6cb;
							 }

							 #whendignout > a{
							 	
							 	display: block;
							 	float: right;
							 	height: 22px;
							 	width: 145px;
							 	margin: 1px auto;
							 	margin-top: 2px;
								     border: 2px solid rgb(16, 207, 16);
   									 border-radius: 2px;
							 	color: black;
							 	text-align: center;
					   			font-size: 10px;
					   			vertical-align: middle;
							 	background-color: #b1f6cb;
							 }

.tabs {
  clear: both;
  perspective: 800px;
  color: black;
  height: 100%
}

.tabs > div {

  background: none;/*#381D68;  #5b0d91 */
  background-image: url('geometry2.png');
  width: 0px;
  margin: 0px 0.5%;
  	margin-top: -435px;
  	margin-left: 155px;
    margin-bottom: 20px;
  max-width: 1600px;
  		height: auto;
  		max-height: calc(100% + 20px);
  		overflow-y: auto;
  position: absolute;
  left: 0.5%;
	  border: 4px double #00CC00;
	  border-radius: 2px 2px 7px 7px;
  padding: 10px;
  line-height: 1.4em;
  opacity: 0;
  transition: opacity .4s, width .4s;
  z-index: 0;
}



#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ .tabs > div:nth-of-type(5),
#tab-nav-6:checked ~ .tabs > div:nth-of-type(6),
#tab-nav-7:checked ~ .tabs > div:nth-of-type(7),
#tab-nav-8:checked ~ .tabs > div:nth-of-type(8),
#tab-nav-9:checked ~ .tabs > div:nth-of-type(9),
#tab-nav-10:checked ~ .tabs > div:nth-of-type(10),
#tab-nav-11:checked ~ .tabs > div:nth-of-type(11),
#tab-nav-12:checked ~ .tabs > div:nth-of-type(12){
  width: calc(99% - 200px);
  transition: opacity 1.2s, width 1s;
  opacity: 1;
  z-index: 1;
}


.resumedescription {
	width: 96%;
	margin: 0px 2%;

}


.resumeshowtabsmargin {
	width: 96%;
	margin: 0px 2%;

}
